*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif; 
    text-decoration:none;
    list-style:none;
    scroll-behavior:smooth;

}

:root{
    --bg-color:#fffefb;
    --rr-color:#ffa50a;
    --text-color:#252429;
    --second-color:#9e9e9e;
    --main-color:#f24f04;
    --big-font:4.4rem;
    --h2-font:3rem;
    --p-font:1rem;
    --other-color:#95949a;
    --bb-color:#fff2de;
}

body{
    background: var(--bg-color);
    color:var(--text-color) ;
}

header{
    position:fixed;
    width:100%;
    top:0;
    right:o;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:var(--bg-color);
    box-shadow:0 0.4rem  30rem rgba(0,0,0,0.1);
    padding:15px 14%;
    transition:all.52s ease;
}

 header .logo{
   /* width:40px;
    max-width:100%;
    height:auto;*/
    font-size:2.5rem;
    font-weight:bolder;
    color:var(--main-color);
  }

  .header .logo i{
    color:var(--text-color);
    padding-right:.5rem;
}

  .navlist{
    display:flex;
  }

  .navlist a{
    position:relative;
    margin:0 15px;
    padding:5px 5px;
    color: var(--text-color);
    font-size:var(--p-font);
    font-weight:500;
    transition:all.50s ease;
}
.navlist a::after{
    position:absolute;
    content:'';
    height:3px;
    bottom:0px;
    width:0;
    left:50%;
    transform:translateX(-50%);
    border-radius:2rem;
    background:var(--main-color);
    transition:all .50s ease;
}
.navlist a:hover::after{
    width:40%;
}
.navlist a:hover{
    color:var(--main-color);
}
.navlist a.active{
    color:var(--main-color);
}
.navlist a.active::after{
    width:40%;
}

.nav-icons{
   display:flex;
   align-items:center;
   justify-content:center;
  
}

.nav-icons i{
  vertical-align:middle;
  font-size:1.5px;
  color:var(--text-color);
  margin-left:20px;
  transition:all .50s ease;
}
.nav-icons i:hover{
    transform:scale(1.1) translateX(-5px);
    color:var(--main-color);
}

#menu-icon{
  font-size:30px;
  color:var(--text-color);
  z-index:10001;
  margin-left:25px;
  cursor:pointer;
  display:none;
}

.nav-icons i:hover{
  transform: scale(1.1);
  color:var(--text-color);
}

section{
    padding:85px 18% 65px;
}
.home{
 position:relative;
 width:100%;
 height:90vh;
 display:grid;
 grid-template-columns:repeat(2,1fr);
 align-items:center;
 gap:2rem;
}
.home-img img{
    height:auto;
    width:100%;
}
.home-text h1{
    font-size:var(--big-font);
    font-weight:900;
    line-height:1.2;
    margin-bottom:2rem;
    font-family:'playfair Display',serif;
}
.home-text p{
    max-width:370px;
    font-weight:var(--p-font);
    line-height:32px;
    color:var(--other-color);
    margin-bottom:3rem;
}
.home-btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    margin-top:150px;
}
.btn{
    display:inline-block;
    padding:12px 26px;
    background:var(--main-color);
    color:var(--bg-color);
    font-size:var(--p-font);
    font-weight:bold;
    border-radius:0.7rem;
    transition:all ease .50s;
}
.btn:hover{
    transform:scale(1.1) translateX(-5px);
}
.btn2{
    font-size:14px;
    font-weight:600;
    color:var(--text-color);
    display:inline-flex;
    align-items:center;
    justify-content:center;
    margin-left:25px;
}
.btn2 span i{
    height:55px;
    width:55px;
    background:var(--main-color);
    color:var(--bg-color);
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-size:35px;
    border-radius:50%;
    margin-right:15px;
    transition:all ease .50s;
}

.btn2 span i:hover{
    transform:scale(1.1) translateX(-5px);
}
.center-text{
    text-align:center;
    margin-top:150px;
}
.center-text strong{
    font-size:var(--p-font);
    font-weight:500;
    color:var(--main-color);
}
.center-text h2{
    font-family:'playfair',serif;
    font-size:var(--h2-font);
    font-weight:900;
}
.categories-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap:2.5rem;
    align-items:center;
    text-align:center;
    margin-top:10rem;
}
.box{
   padding:50px;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
}
.box-img{
    width:190px;
    height:190px;
}
.box-img img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.box h3{
    margin:15px 0;
    font-size:25px;
    font-weight:900;
    font-family:'playfair',serif;
}
.box p{
    font-size:var(--p-font);
    line-height:30px;
    color:var(--other-color);
}
.history{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    gap:2rem;
}
.history-img img{
    height:auto;
    width:100%;
}
.history-text strong{
     font-size:var(--p-font);
     font-weight:500;
     color:var(--main-color);
}
.history-text h2{
    font-size:var(--h2-font);
    font-weight:500;
    line-height:1.2;
    margin:30px 0;
    font-family:'playfair',serif;
}
.history-text p{
    max-width:450px;
    font-size:var(--p-font);
    line-height:32px;
    color:var(--other-color);
    margin-bottom:2rem;
}
.menu-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap:2.5rem;
    align-items:center;
    text-align:center;
    margin-top:4rem;
}
.row{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background:var(--bg-color);
  box-shadow:-1px 15px 26px -4px rgb(161 151 151/15%);
  border-radius:0.7rem;
  padding:30px 20px;
  cursor:pointer;
  transition:all ease .50px;
}
.row-img{
    width:180px;
    height:180px;
    margin-bottom:15px;
}
.row-img img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.row h6{
    font-size:15px;
    font-weight:800;
    color:var(--main-color);
    margin:10px 0;
}
.row h5{
    font-family:'playfair',serif;
    font-size:18px;
    font-weight:900;
}
.ratings i{
    font-size:1rem;
    color:var(--rr-color);
    margin:0 2px;
}
.row:hover{
    transform:translateY(-8px);
}
.menu-btnn{
  text-align:center;
  margin-top:3rem;
}
.testimonial{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    align-items:center;
    gap:2rem;
}
.testimonial-left strong{
    font-size:var(--p-font);
    font-weight:500;
    color:var(--main-color);
}
.testimonial-left h2{
    font-size:var(--h2-font);
    font-weight:500;
    line-height:1.2;
    margin:20px 0;
    font-family:'playfair',serif;
}
.testimonial-img img{
    width:100%;
    max-width:160px;
    height:auto;
    margin-bottom:15px;
}
.testimonial-right h4{
    font-size:22px;
    font-weight:900;
    margin-bottom:8px;
    font-family:'playfair',serif;
}
.testimonial-right h6{
    color:var(--main-color);
    font-size:15px;
    font-weight:800;
    margin-bottom:20px;
}
.testimonial-right p{
    font-size:var(--p-font);
    line-height:32px;
    color:var(--other-color);
}
.newsletter{
    display:grid;
    justify-items:center;
}
.newsletter form{
    display:flex;
    margin-top:2.5rem;
    padding:10px 20px;
    background:var(--bb-color);
    box-shadow:-1px 15px 26px 4px rgb(161 151 151 /15%);
    border-radius:0.5rem;
}
.newsletter form .email{
    width:250px;
    max-width:100%;
}
.newsletter form input{
    outline:none;
    border:none;
    background:none;
    color:var(--text-color);
    font-size:var(--p-font);
}
.newsletter form .btn{
    background:var(--main-color);
    color:var(--bg-color);
}
.contact{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap:1rem;
}
.contact-box .logo img{
    width:140px;
    max-width:100%;
    height:auto;
    margin-bottom:1.1rem;
}
.icons i{
    height:35px;
    width:35px;
    background:var(--main-color);
    color:var(--bg-color);
    font-size:18px;
    margin-right:8px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border-radius:0.5rem;
    transition:all ease .50s;
}
.icons i:hover{
    transform:translateY(-5px) ;
    background:var(--bb-color);
    color:var(--text-color);
}
.contact-box h3{
    font-size:18px;
    font-weight:900;
    font-family:'playfair',serif;
    margin-bottom:20px;
}
.contact-box li{
    margin-bottom:13px;

}
.contact-box li a{
    display:block;
    color:var(--other-color);
    font-size:var(--p-font);
    transition:all ease .50s;
}
.contact-box li a:hover{
  transform:translateY(-5px);
  color:var(--main-color);
}
.copyright p{
    text-align:center;
    padding:18px;
    background:var(--bb-color);
    font-size:14px;
    font-weight:500;
    color:var(--other-color);
    letter-spacing:1px;
}

@media(max-width:1680px){
    header{
        padding:10px 4%;
    }
    section{
        padding:50px 4% 4px;
    }
}

@media(max-width:1220px){
    :root{
    --big-font:3.6rem;
    --h2-font:2.6rem;
    --p-font:0.9rem;
  
    }
    .home{
        height:80vh ;
    }
    section{
        padding:30px 4% 20px ;
    }
    .home-text h1{
        margin-bottom:1rem;
    }
    .home-text p{
        margin-bottom:1.2rem;
    }
    .categories-content{
        gap:20px;
    }
    .box{
     padding:10px;
    }
}

@media(max-width:1000px){
    #menu-icon{
        display:block;
    }

    .navlist{
       position:absolute;
       top:-500px;
       left:0;
       right:0;
       display:flex;
       flex-direction:column;
       text-align:left;
       background:var(--bg-color);
       box-shadow:0 4px 4px rgb(0 0 0/10%);
       transition:all ease .50s;
    }
    .navlist a{
        display:block;
        font-size:24px;
        font-weight:600;
        margin:5px 30px;
        padding:10px 0;
    }
    .navlist a::after{
        display:none;
    }
    .navlist.open{
        top:100%;
    }
}

@media(max-width:960px){
    :root{
        --big-font:3rem;
        --h2-font:2rem;
        --p-font:0.9rem;
      
        }
    .home{
        height:70vh;
    }
    section{
        padding:65px 4% 55px;
    }
}
@media(max-width:840px){
    .home{
        height:100vh;
        grid-template-columns:1fr;
    }
    .home-text{
        order:2;
    }
    .home-img{
        text-align:center;
        padding-top:30px;
    }
    .home-img img{
        width:430px;
        max-width:100%;
        height:auto;
    }
    .home-text p{
        max-width:600px;
    }
}
@media(max-width:690px){
    .history{
      grid-template-columns:1fr;  
    }
    .history-img{
        text-align:center;
        padding-top:10px;
    }
    .history-img img{
        width:370px;
        max-width:100%;
        height:auto;
    }
    .Testimonial{
        grid-template-columns:1fr;
    }
    .Testimonial-left{
        text-align:center;
    }
    .Testimonial-right{
        text-align:center;
    }
   
}
@media(max-width:500px){
    .newsletter form .email{
      width:155px;
      max-width:100%;
    }
    :root{
        --big-font:2.7rem;
        --h2-font:1.8rem;
        --p-font:0.9rem;
      
        }
}


#darkmode{
    font-size:25px;
    margin-left:20px;
    cursor:pointer;
}
.darkmode{
    --text-color:#fff;
    --bg-color:#1f1f1f;
    --bb-color:#0e0e0e;
}